body{
	margin:0px;
}

#icon{
	max-height: 60px;
	vertical-align:middle;
}

h1{
	font-size: 45px;
	text-align: center;
	margin: 30px 20px 0px 20px;
}

img{
	max-height:500px;
	max-width:500px;
}

.content-right{
	width:80%;
	float:right;
	padding-bottom:50px;
	margin:20px;
}

.bottom-center{
	position:fixed;
	bottom:0px;
	width:100%;
	text-align:center;
	background-color: #ED850C;
}

.left-float{
	width:20%;
	float:left;
	position:fixed;
	margin: 100px 10px 0px 10px;
}

nav table{
	width: 200px;
}

a{
	text-decoration: none;
}

td{
	padding:10px;
}

