/*Overall page*/
body{
	margin:0 10px 0 10px;
	font-size:12pt;
	font-family: 'Duru Sans', sans-serif;
}

a{
	color:black;
}

a:hover{
	font-weight: bold;
	color: orange;
}


/*Header*/
#icon{
	max-height: 60px;
	vertical-align:middle;
}

h1{
	font-size: 45px;
	text-align: center;
	margin: 30px 20px 0px 20px;
	border-bottom:solid;
	padding-bottom: 10px;
	text-shadow: 2px 2px gray;
}


/*Headings*/
h2{
	margin: 35px 0 5px 0;
}

#background h2{
	margin: 10px 0 5px 0;
}

li{
	padding-bottom: 3px;
	
}


/*Pictures*/
img{
	max-width:200px;
}

.example{
	max-width:500px;
}

figure{
	margin:5px 10px 5px 10px;
}

figcaption{
	width:170px;
	text-align: center;
	margin: 0 15px 0 15px;
	font-size: 9pt;
}

.pic_right{
	margin: 5px;
	padding: 5px;
	float:right;
	display: inline;
}

.pic_left{
	margin: 5px;
	padding: 5px;
	float:left;
	display: inline;
}


/*Article content*/
.content-right{
	width:75%;
	float:right;
	padding-bottom:50px;
	margin:20px;
}


/*Navigation bar*/
.left-float{
	width:20%;
	position:fixed;
	margin: 10px 10px 0px 10px;
}

nav{
	border-right: solid;
}

nav ul{
	list-style-type: none;
	padding-left: 5px;
	padding-right: 10px;
}

nav ul li{
	padding: 6px;
	font-size: 13pt;
	text-shadow: 1px 1px gray;
}


/*Sources formatting*/
#sources ul{
	list-style: none;
	text-decoration: underline;
	padding:0 0 0 5px;	
}